<div *ngIf="group; else loading">
    <mat-toolbar>
        <span>{{group.name}} - {{member}}</span>
    </mat-toolbar>
    <mat-card>
        <mat-card-content>
            <p>
                Share link: <a [href]="link">{{link}}</a>
            </p>
            <mat-form-field style="width: 100%;">
                <mat-label>Story</mat-label>
                <textarea matInput (change)="onStoryChange($event.target.value)">{{group.story}}</textarea>
            </mat-form-field>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-button-toggle-group [disabled]="allVoted" (change)="onVote($event.value)">
            <mat-button-toggle *ngFor="let card of group.cards" [value]="card">{{card}}</mat-button-toggle>
        </mat-button-toggle-group>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef>Member</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="vote">
                    <mat-header-cell *matHeaderCellDef>Vote</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.vote}}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="onResetVote()">Reset votes</button>
        </mat-card-actions>
    </mat-card>
</div>
<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>
