<div class="home">
    <mat-card>
        <form [formGroup]="createGroupForm" (ngSubmit)="onCreate(createGroupForm.value)">
            <mat-card-title>New group</mat-card-title>
            <mat-card-content>
                <p>
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput required formControlName="name">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <mat-chip-list #chipList>
                            <mat-chip *ngFor="let card of cards" [selectable]="false" [removable]="true"
                                (removed)="onRemoveCard(card)">
                                {{card}}
                                <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip>
                            <input placeholder="Cards" [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
                                (matChipInputTokenEnd)="onAddCard($event)">
                        </mat-chip-list>
                    </mat-form-field>
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit"
                    [disabled]="createGroupForm.invalid">Create</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>
